.container {
  margin: auto;
  max-width: 75%;
}

.headingBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-container {
  border-bottom: 2px solid #009879;
}

.styled-table {
  border-collapse: collapse;
  font-size: 1rem;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.styled-table thead,
.styled-table tbody {
  display: block;
}

.styled-table thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table thead tr th:first-child,
.styled-table tbody tr td:first-child {
  width: 70px;
}

.styled-table tbody {
  display: block;
  max-height: 400px;
  overflow-y: auto;
}

.styled-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid #dddddd;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  box-sizing: border-box;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* .styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
} */

.btn {
  padding: 6px 10px;
  font-size: 0.9rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 2px;
  cursor: pointer;
}

.btn-edit {
  background-color: orange;
}

.btn-view {
  background-color: green;
}

.btn-delete {
  background-color: red;
}

.btn-add-contact {
  background-color: #009879;
}

@media (max-width: 600px) {
  .styled-table thead {
    display: none;
  }

  .styled-table tbody {
    max-height: none;
  }

  .styled-table tbody tr {
    display: block;
    border: 1px solid #ddd;
  }

  .styled-table td {
    display: block;
    width: 100%;
    text-align: right;
    position: relative;
  }

  .styled-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 15px;
    width: 50%;
    text-align: left;
    font-weight: bold;
  }
}